Flask==2.3.3
Flask-Session==0.5.0
Flask-CORS==4.0.0
bcrypt==4.0.1
pandas==2.1.1
openpyxl==3.1.2
paramiko==3.3.1
numexpr==2.8.7
numpy==1.25.2
python-dotenv==1.0.0
pyodbc==4.0.39
werkzeug==2.3.7
gunicorn==21.2.0
psycopg2-binary==2.9.7